# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "^3rdparty/.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
      - id: check-case-conflict
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.280' # Ruff version.
    hooks:
      - id: ruff
        stages: [ push, commit, manual ]
  - repo: local
    hooks:
      - id: cheribuild-commit-messages
        name: cheribuild commit message check
        entry: githooks/pre-push.sh
        language: system
        always_run: true
        pass_filenames: false
        verbose: true
        stages: [ push ]
      - id: cheribuild-pytest
        name: cheribuild pytest
        entry: sh -c 'python3 -m pytest -q . >&2'
        language: system
        always_run: true
        pass_filenames: false
        verbose: true
        stages: [ push, manual ]
      - id: cheribuild-smoke-test
        name: cheribuild smoke test
        entry: tests/run_smoke_tests.sh
        language: system
        always_run: true
        pass_filenames: false
        verbose: true
        stages: [ push, manual ]
